@font-face {
  font-family:"pokemon";
  src: url("fonts/pokemon/Pokemon\ Hollow.ttf")
}

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://www.wallpapertip.com/wmimgs/3-33641_pokemon-desktop-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #40404061;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(236, 0, 177);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0432af;
}

.pokedex {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.pokemon-card {
  text-align: center;
  text-decoration: none;
  margin-bottom: 4em;
  padding-top: 1em;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgb(236, 0, 177);
  width: 17em;
  background-color: #1f1f1fc5;
  display: inline;
  backdrop-filter: blur(6px);
}

.pokemon-card a:link {
  color: hsl(202, 63%, 57%);
}

.pokemon-card a:visited {
  color: #a1049a;
}

.pokemon-card a:hover {
  color: rgb(236, 0, 177);
}



a {
  text-decoration: none;
}

h1 {
  font-family: "Helvetica Neue", cursive;
}

@media screen and (max-width: 850px) {
  .pokedex {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .pokemon-card {
    width: 13em;
  }

  .pokemon-card img {
    width: 50%;
  }
}

@media screen and (max-width: 390px) {
  .pokemon-card {
    width: 10em;
  }

  .pokemon-card h1 {
    font-size: 1.5em;
  }
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

.Page2Bouton {
  font-size: 50px;
  color: white;
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  right: 100px !important;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.p-card {
  text-align: center;
  text-decoration: none;
  margin-bottom: 4em;
  padding-top: 1em;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgb(236, 0, 177);
  width: 17em;
  background-color: #1f1f1fc5;
  display: inline;
  backdrop-filter: blur(6px);
  }
.p-list h1{
 color: rgb(248, 152, 26);
 font-family: pokemon;
}
.back {
  background: url(images/back.png) no-repeat;
  width: 111px;
  height: 68px;
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  right: 100px !important;
  margin-left: 20px;
  margin-top: 20px;

}

.p-identite table {
  font-size: 30px;
}

.p-identite {
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 25px 25px 55px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-bottom: 4em;
  padding-top: 1em;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1;
}

.p-identite:before,
.p-identite:after {
  content: '';
  background: linear-gradient(#4d04f7, #882FD5);
  border-radius: 20px;
  position: absolute;
  left: 10px;
  right: 0;
  top: 15px;
  bottom: 0;
  z-index: -1;
}

.p-identite:after {
  background: #fff;
  left: 0;
  right: 10px;
  top: 0;
  bottom: 15px;
  clip-path: polygon(30% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 20%);
}

.p-identite .service-icon {
  color: #c4d52f;
  font-size: 35px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 0 10px;
}

.p-identite .title {
  color: #882FD5;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.p-identite .title span {
  font-weight: 700;
}

.p-identite .description {
  color: #777;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 0;
}

.p-identite .read-more {
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  position: absolute;
  right: 15px;
  bottom: 9px;
  transition: all 0.3s ease 0s;
}

.p-identite .read-more:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 3px 3px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width:990px) {
  .p-identite {
    margin: 0 0 30px;
  }
}
