.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://www.wallpapertip.com/wmimgs/3-33641_pokemon-desktop-background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #40404061;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(236, 0, 177);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(202, 1, 152);
}

.pokedex {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.pokemon-card {
  text-align: center;
  text-decoration: none;
  margin-bottom: 4em;
  padding-top: 1em;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgb(236, 0, 177);
  width: 17em;
  background-color: #1f1f1fc5;
  display: inline;
  backdrop-filter: blur(6px);
}

.pokemon-card a:link {
  color: hsl(202, 63%, 57%);
}

.pokemon-card a:visited {
  color: #999999;
}

.pokemon-card a:hover {
  color: rgb(236, 0, 177);
}

a {
  text-decoration: none;
}

.p-card {
  color: white;
}

.p-card {
  text-align: center;
  text-decoration: none;
  margin-bottom: 4em;
  padding-top: 1em;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgb(236, 0, 177);
  width: 17em;
  background-color: #1f1f1fc5;
  display: inline;
  backdrop-filter: blur(6px);
}

.p-header {
  display: flex;
  place-content: center;
}

.p-header button {
  background-color: Transparent;
  border: none;
  position: relative;
  left: -10em;
}

.Page2Bouton {
  font-size: 50px;
  color: rgb(236, 0, 177);
  margin-top: 20px;
}

.p-title {
  display: flex;
  align-items: center;
}

.p-title h1 {
  font-size: 3em;
  margin: 0.5em;
}


.p-identite  {
  text-align: -webkit-center;
}

.p-identite2 {
  display: flex;
}

thead, tbody {
  text-align: left;
}

thead {
  font-size: 2em;
}

thead th{
  border-bottom: white 1px solid;
}

tbody {
  margin: 0 1em 0 1em;
  font-size: 1.3em;
}

td {
  padding-right: 5em;
}


@media screen and (max-width: 850px) {
  .pokedex {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .pokemon-card {
    width: 13em;
  }

  .pokemon-card img {
    width: 50%;
  }
}

@media screen and (max-width: 390px) {
  .pokemon-card {
    width: 10em;
  }

  .pokemon-card h1 {
    font-size: 1.5em;
  }
}