.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://www.wallpapertip.com/wmimgs/3-33641_pokemon-desktop-background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #40404061;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

.TEST {
  color: rgb(90, 14, 97);
}

.pokemon-card {
  text-align: center;
  text-decoration: none;
  margin-bottom: 4em;
  padding-top: 1em;
  margin-right: 20px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgb(236, 0, 177);
  width: 17em;
  background-color: #1f1f1f;
  display: inline;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Helvetica Neue", cursive;
}

.pokemon-card a:link {
  color: hsl(202, 63%, 57%)
}

.pokemon-card a:hover {
  color: rgb(53, 223, 1)
}

.pokemon-card a:visited {
  color: #999999
}